{% extends 'base.html' %} {% block head %}
<title>Zambeef-Call Usage</title> {% endblock %} {% block body%}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <br>
    <div class="card profile-header">
        <div class="body">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-8">
                    <div class="profile-image float-md-right"> <img src="{{ url_for('static',filename='images/novatek.jpg')}}" width="350" height="350" alt=""> </div>
                </div>

                {% for x in list %}
                <div class=" col-md-5">
                    <h1 class="m-t-0 m-b-0"><strong>{{x.Account_Code}}</strong></h1>
                    <span class="job_post">{{ x.From_Date }}</span>
                    <p>Total Cost: <b>K {{ x.Cost_ZKW }}</b></p>
                    <p>Total Cost: <b>K {{ x.Cost_ZKW }}</b></p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Cost</th>
                                <th>From Date</th>
                                <th>To Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ x.Cost_ZKW }}</td>
                                <td>{{ x.From_Date }}</td>
                                <td>{{ x.ToDate }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div>
                        <button class="btn btn-success btn-round">Print Report</button>
                    </div>

                </div>
                {% endfor %}
            </div>
        </div>
    </div>



    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="content" class="content content-full-width">
                    <!-- begin profile -->
                    <div class="profile">
                        <div class="profile-header">
                            <!-- BEGIN profile-header-cover -->
                            <div class="profile-header-cover"></div>
                            <!-- END profile-header-cover -->
                            <!-- BEGIN profile-header-content -->
                            <div class="profile-header-content">
                                <!-- BEGIN profile-header-img -->
                                <div class="profile-header-img">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="">
                                </div>
                                <!-- END profile-header-img -->
                                <!-- BEGIN profile-header-info -->
                                <div class="profile-header-info">
                                    <h4 class="m-t-10 m-b-5">Sean Ngu</h4>
                                    <p class="m-b-10">UXUI + Frontend Developer</p>
                                    <a href="#" class="btn btn-xs btn-yellow">Edit Profile</a>
                                </div>
                                <!-- END profile-header-info -->
                            </div>
                            <!-- END profile-header-content -->
                            <!-- BEGIN profile-header-tab -->
                            <ul class="profile-header-tab nav nav-tabs">
                                <li class="nav-item"><a href="#profile-post" class="nav-link" data-toggle="tab">POSTS</a></li>
                                <li class="nav-item"><a href="#profile-about" class="nav-link" data-toggle="tab">ABOUT</a></li>
                                <li class="nav-item"><a href="#profile-photos" class="nav-link" data-toggle="tab">PHOTOS</a></li>
                                <li class="nav-item"><a href="#profile-videos" class="nav-link" data-toggle="tab">VIDEOS</a></li>
                                <li class="nav-item"><a href="#profile-friends" class="nav-link active show" data-toggle="tab">FRIENDS</a></li>
                            </ul>
                            <!-- END profile-header-tab -->
                        </div>
                    </div>
                    <!-- end profile -->
                    <!-- begin profile-content -->
                    <div class="profile-content">
                        <!-- begin tab-content -->
                        <div class="tab-content p-0">
                            <!-- begin #profile-friends tab -->
                            <div class="tab-pane fade in active show" id="profile-friends">
                                <h4 class="m-t-0 m-b-20">Friend List (14)</h4>
                                <!-- begin row -->
                                <div class="row row-space-2">
                                    <!-- begin col-6 -->
                                    <div class="col-md-6 m-b-2">
                                        <div class="p-10 bg-white">
                                            <div class="media media-xs overflow-visible">
                                                <a class="media-left" href="javascript:;">
                                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="media-object img-circle">
                                                </a>
                                                <div class="media-body valign-middle">
                                                    <b class="text-inverse">James Pittman</b>
                                                </div>
                                                <div class="media-body valign-middle text-right overflow-visible">
                                                    <div class="btn-group dropdown">
                                                        <a href="javascript:;" class="btn btn-default">Friends</a>
                                                        <a href="javascript:;" data-toggle="dropdown" class="btn btn-default dropdown-toggle" aria-expanded="false"></a>
                                                        <ul class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(101px, 34px, 0px);">
                                                            <li><a href="javascript:;">Action 1</a></li>
                                                            <li><a href="javascript:;">Action 2</a></li>
                                                            <li><a href="javascript:;">Action 3</a></li>
                                                            <li class="divider"></li>
                                                            <li><a href="javascript:;">Action 4</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end col-6 -->
                                    <!-- begin col-6 -->
                                    <div class="col-md-6 m-b-2">
                                        <div class="p-10 bg-white">
                                            <div class="media media-xs overflow-visible">
                                                <a class="media-left" href="javascript:;">
                                                    <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" class="media-object img-circle">
                                                </a>
                                                <div class="media-body valign-middle">
                                                    <b class="text-inverse">Mitchell Ashcroft</b>
                                                </div>
                                                <div class="media-body valign-middle text-right overflow-visible">
                                                    <div class="btn-group dropdown">
                                                        <a href="javascript:;" class="btn btn-default">Friends</a>
                                                        <a href="javascript:;" data-toggle="dropdown" class="btn btn-default dropdown-toggle"></a>
                                                        <ul class="dropdown-menu dropdown-menu-right">
                                                            <li><a href="javascript:;">Action 1</a></li>
                                                            <li><a href="javascript:;">Action 2</a></li>
                                                            <li><a href="javascript:;">Action 3</a></li>
                                                            <li class="divider"></li>
                                                            <li><a href="javascript:;">Action 4</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end col-6 -->
                                    <!-- begin col-6 -->
                                    <div class="col-md-6 m-b-2">
                                        <div class="p-10 bg-white">
                                            <div class="media media-xs overflow-visible">
                                                <a class="media-left" href="javascript:;">
                                                    <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="" class="media-object img-circle">
                                                </a>
                                                <div class="media-body valign-middle">
                                                    <b class="text-inverse">Ella Cabena</b>
                                                </div>
                                                <div class="media-body valign-middle text-right overflow-visible">
                                                    <div class="btn-group dropdown">
                                                        <a href="javascript:;" class="btn btn-default">Friends</a>
                                                        <a href="javascript:;" data-toggle="dropdown" class="btn btn-default dropdown-toggle" aria-expanded="false"></a>
                                                        <ul class="dropdown-menu dropdown-menu-right" x-placement="top-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(101px, -2px, 0px);">
                                                            <li><a href="javascript:;">Action 1</a></li>
                                                            <li><a href="javascript:;">Action 2</a></li>
                                                            <li><a href="javascript:;">Action 3</a></li>
                                                            <li class="divider"></li>
                                                            <li><a href="javascript:;">Action 4</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end col-6 -->
                                    <!-- begin col-6 -->
                                    <div class="col-md-6 m-b-2">
                                        <div class="p-10 bg-white">
                                            <div class="media media-xs overflow-visible">
                                                <a class="media-left" href="javascript:;">
                                                    <img src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="" class="media-object img-circle">
                                                </a>
                                                <div class="media-body valign-middle">
                                                    <b class="text-inverse">Declan Dyson</b>
                                                </div>
                                                <div class="media-body valign-middle text-right overflow-visible">
                                                    <div class="btn-group dropdown">
                                                        <a href="javascript:;" class="btn btn-default">Friends</a>
                                                        <a href="javascript:;" data-toggle="dropdown" class="btn btn-default dropdown-toggle"></a>
                                                        <ul class="dropdown-menu dropdown-menu-right">
                                                            <li><a href="javascript:;">Action 1</a></li>
                                                            <li><a href="javascript:;">Action 2</a></li>
                                                            <li><a href="javascript:;">Action 3</a></li>
                                                            <li class="divider"></li>
                                                            <li><a href="javascript:;">Action 4</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end col-6 -->
                                    <!-- begin col-6 -->
                                    <div class="col-md-6 m-b-2">
                                        <div class="p-10 bg-white">
                                            <div class="media media-xs overflow-visible">
                                                <a class="media-left" href="javascript:;">
                                                    <img src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="" class="media-object img-circle">
                                                </a>
                                                <div class="media-body valign-middle">
                                                    <b class="text-inverse">George Seyler</b>
                                                </div>
                                                <div class="media-body valign-middle text-right overflow-visible">
                                                    <div class="btn-group dropdown">
                                                        <a href="javascript:;" class="btn btn-default">Friends</a>
                                                        <a href="javascript:;" data-toggle="dropdown" class="btn btn-default dropdown-toggle"></a>
                                                        <ul class="dropdown-menu dropdown-menu-right">
                                                            <li><a href="javascript:;">Action 1</a></li>
                                                            <li><a href="javascript:;">Action 2</a></li>
                                                            <li><a href="javascript:;">Action 3</a></li>
                                                            <li class="divider"></li>
                                                            <li><a href="javascript:;">Action 4</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end col-6 -->
                                    <!-- begin col-6 -->
                                    <div class="col-md-6 m-b-2">
                                        <div class="p-10 bg-white">
                                            <div class="media media-xs overflow-visible">
                                                <a class="media-left" href="javascript:;">
                                                    <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="" class="media-object img-circle">
                                                </a>
                                                <div class="media-body valign-middle">
                                                    <b class="text-inverse">Patrick Musgrove</b>
                                                </div>
                                                <div class="media-body valign-middle text-right overflow-visible">
                                                    <div class="btn-group dropdown">
                                                        <a href="javascript:;" class="btn btn-default">Friends</a>
                                                        <a href="javascript:;" data-toggle="dropdown" class="btn btn-default dropdown-toggle"></a>
                                                        <ul class="dropdown-menu dropdown-menu-right">
                                                            <li><a href="javascript:;">Action 1</a></li>
                                                            <li><a href="javascript:;">Action 2</a></li>
                                                            <li><a href="javascript:;">Action 3</a></li>
                                                            <li class="divider"></li>
                                                            <li><a href="javascript:;">Action 4</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end col-6 -->
                                    <!-- begin col-6 -->
                                    <div class="col-md-6 m-b-2">
                                        <div class="p-10 bg-white">
                                            <div class="media media-xs overflow-visible">
                                                <a class="media-left" href="javascript:;">
                                                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" class="media-object img-circle">
                                                </a>
                                                <div class="media-body valign-middle">
                                                    <b class="text-inverse">Taj Connal</b>
                                                </div>
                                                <div class="media-body valign-middle text-right overflow-visible">
                                                    <div class="btn-group dropdown">
                                                        <a href="javascript:;" class="btn btn-default">Friends</a>
                                                        <a href="javascript:;" data-toggle="dropdown" class="btn btn-default dropdown-toggle"></a>
                                                        <ul class="dropdown-menu dropdown-menu-right">
                                                            <li><a href="javascript:;">Action 1</a></li>
                                                            <li><a href="javascript:;">Action 2</a></li>
                                                            <li><a href="javascript:;">Action 3</a></li>
                                                            <li class="divider"></li>
                                                            <li><a href="javascript:;">Action 4</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end col-6 -->
                                    <!-- begin col-6 -->
                                    <div class="col-md-6 m-b-2">
                                        <div class="p-10 bg-white">
                                            <div class="media media-xs overflow-visible">
                                                <a class="media-left" href="javascript:;">
                                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="media-object img-circle">
                                                </a>
                                                <div class="media-body valign-middle">
                                                    <b class="text-inverse">Laura Pollock</b>
                                                </div>
                                                <div class="media-body valign-middle text-right overflow-visible">
                                                    <div class="btn-group dropdown">
                                                        <a href="javascript:;" class="btn btn-default">Friends</a>
                                                        <a href="javascript:;" data-toggle="dropdown" class="btn btn-default dropdown-toggle"></a>
                                                        <ul class="dropdown-menu dropdown-menu-right">
                                                            <li><a href="javascript:;">Action 1</a></li>
                                                            <li><a href="javascript:;">Action 2</a></li>
                                                            <li><a href="javascript:;">Action 3</a></li>
                                                            <li class="divider"></li>
                                                            <li><a href="javascript:;">Action 4</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end col-6 -->
                                    <!-- begin col-6 -->
                                    <div class="col-md-6 m-b-2">
                                        <div class="p-10 bg-white">
                                            <div class="media media-xs overflow-visible">
                                                <a class="media-left" href="javascript:;">
                                                    <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" class="media-object img-circle">
                                                </a>
                                                <div class="media-body valign-middle">
                                                    <b class="text-inverse">Dakota Mannix</b>
                                                </div>
                                                <div class="media-body valign-middle text-right overflow-visible">
                                                    <div class="btn-group dropdown">
                                                        <a href="javascript:;" class="btn btn-default">Friends</a>
                                                        <a href="javascript:;" data-toggle="dropdown" class="btn btn-default dropdown-toggle"></a>
                                                        <ul class="dropdown-menu dropdown-menu-right">
                                                            <li><a href="javascript:;">Action 1</a></li>
                                                            <li><a href="javascript:;">Action 2</a></li>
                                                            <li><a href="javascript:;">Action 3</a></li>
                                                            <li class="divider"></li>
                                                            <li><a href="javascript:;">Action 4</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end col-6 -->
                                    <!-- begin col-6 -->
                                    <div class="col-md-6 m-b-2">
                                        <div class="p-10 bg-white">
                                            <div class="media media-xs overflow-visible">
                                                <a class="media-left" href="javascript:;">
                                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="media-object img-circle">
                                                </a>
                                                <div class="media-body valign-middle">
                                                    <b class="text-inverse">Timothy Woolley</b>
                                                </div>
                                                <div class="media-body valign-middle text-right overflow-visible">
                                                    <div class="btn-group dropdown">
                                                        <a href="javascript:;" class="btn btn-default">Friends</a>
                                                        <a href="javascript:;" data-toggle="dropdown" class="btn btn-default dropdown-toggle"></a>
                                                        <ul class="dropdown-menu dropdown-menu-right">
                                                            <li><a href="javascript:;">Action 1</a></li>
                                                            <li><a href="javascript:;">Action 2</a></li>
                                                            <li><a href="javascript:;">Action 3</a></li>
                                                            <li class="divider"></li>
                                                            <li><a href="javascript:;">Action 4</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end col-6 -->
                                    <!-- begin col-6 -->
                                    <div class="col-md-6 m-b-2">
                                        <div class="p-10 bg-white">
                                            <div class="media media-xs overflow-visible">
                                                <a class="media-left" href="javascript:;">
                                                    <img src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="" class="media-object img-circle">
                                                </a>
                                                <div class="media-body valign-middle">
                                                    <b class="text-inverse">Benjamin Congreve</b>
                                                </div>
                                                <div class="media-body valign-middle text-right overflow-visible">
                                                    <div class="btn-group dropdown">
                                                        <a href="javascript:;" class="btn btn-default">Friends</a>
                                                        <a href="javascript:;" data-toggle="dropdown" class="btn btn-default dropdown-toggle"></a>
                                                        <ul class="dropdown-menu dropdown-menu-right">
                                                            <li><a href="javascript:;">Action 1</a></li>
                                                            <li><a href="javascript:;">Action 2</a></li>
                                                            <li><a href="javascript:;">Action 3</a></li>
                                                            <li class="divider"></li>
                                                            <li><a href="javascript:;">Action 4</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end col-6 -->
                                    <!-- begin col-6 -->
                                    <div class="col-md-6 m-b-2">
                                        <div class="p-10 bg-white">
                                            <div class="media media-xs overflow-visible">
                                                <a class="media-left" href="javascript:;">
                                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="media-object img-circle">
                                                </a>
                                                <div class="media-body valign-middle">
                                                    <b class="text-inverse">Mariam Maddock</b>
                                                </div>
                                                <div class="media-body valign-middle text-right overflow-visible">
                                                    <div class="btn-group dropdown">
                                                        <a href="javascript:;" class="btn btn-default">Friends</a>
                                                        <a href="javascript:;" data-toggle="dropdown" class="btn btn-default dropdown-toggle"></a>
                                                        <ul class="dropdown-menu dropdown-menu-right">
                                                            <li><a href="javascript:;">Action 1</a></li>
                                                            <li><a href="javascript:;">Action 2</a></li>
                                                            <li><a href="javascript:;">Action 3</a></li>
                                                            <li class="divider"></li>
                                                            <li><a href="javascript:;">Action 4</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end col-6 -->
                                    <!-- begin col-6 -->
                                    <div class="col-md-6 m-b-2">
                                        <div class="p-10 bg-white">
                                            <div class="media media-xs overflow-visible">
                                                <a class="media-left" href="javascript:;">
                                                    <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="" class="media-object img-circle">
                                                </a>
                                                <div class="media-body valign-middle">
                                                    <b class="text-inverse">Blake Gerrald</b>
                                                </div>
                                                <div class="media-body valign-middle text-right overflow-visible">
                                                    <div class="btn-group dropdown">
                                                        <a href="javascript:;" class="btn btn-default">Friends</a>
                                                        <a href="javascript:;" data-toggle="dropdown" class="btn btn-default dropdown-toggle"></a>
                                                        <ul class="dropdown-menu dropdown-menu-right">
                                                            <li><a href="javascript:;">Action 1</a></li>
                                                            <li><a href="javascript:;">Action 2</a></li>
                                                            <li><a href="javascript:;">Action 3</a></li>
                                                            <li class="divider"></li>
                                                            <li><a href="javascript:;">Action 4</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end col-6 -->
                                    <!-- begin col-6 -->
                                    <!-- end col-6 -->
                                    <!-- begin col-6 -->
                                    <div class="col-md-6 m-b-2">
                                        <div class="p-10 bg-white">
                                            <div class="media media-xs overflow-visible">
                                                <a class="media-left" href="javascript:;">
                                                    <img src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="" class="media-object img-circle">
                                                </a>
                                                <div class="media-body valign-middle">
                                                    <b class="text-inverse">Gabrielle Bunton</b>
                                                </div>
                                                <div class="media-body valign-middle text-right overflow-visible">
                                                    <div class="btn-group dropdown">
                                                        <a href="javascript:;" class="btn btn-default">Friends</a>
                                                        <a href="javascript:;" data-toggle="dropdown" class="btn btn-default dropdown-toggle"></a>
                                                        <ul class="dropdown-menu dropdown-menu-right">
                                                            <li><a href="javascript:;">Action 1</a></li>
                                                            <li><a href="javascript:;">Action 2</a></li>
                                                            <li><a href="javascript:;">Action 3</a></li>
                                                            <li class="divider"></li>
                                                            <li><a href="javascript:;">Action 4</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end col-6 -->
                                </div>
                                <!-- end row -->
                            </div>
                            <!-- end #profile-friends tab -->
                        </div>
                        <!-- end tab-content -->
                    </div>
                    <!-- end profile-content -->
                </div>
            </div>
        </div>
    </div>
    <style type='text/css'>
        .profile-header {
            position: relative;
            overflow: hidden
        }
        
        .profile-header .profile-header-cover {
            background-image: url(https://via.placeholder.com/600x100/);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0
        }
        
        .profile-header .profile-header-cover:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .75) 100%)
        }
        
        body {
            background: #eee;
        }
        
        a {
            color: #f96332;
        }
        
        .m-t-5 {
            margin-top: 5px;
        }
        
        .card {
            background: #fff;
            margin-bottom: 30px;
            transition: .5s;
            border: 0;
            border-radius: .1875rem;
            display: inline-block;
            position: relative;
            width: 100%;
            box-shadow: none;
        }
        
        .card .body {
            font-size: 14px;
            color: #424242;
            padding: 20px;
            font-weight: 400;
        }
        
        .profile-page .profile-header {
            position: relative
        }
        
        .profile-page .profile-header .profile-image img {
            border-radius: 50%;
            width: 140px;
            border: 3px solid #fff;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
        }
        
        .profile-page .profile-header .social-icon a {
            margin: 0 5px
        }
        
        .profile-page .profile-sub-header {
            min-height: 60px;
            width: 50%
        }
        
        .profile-page .profile-sub-header ul.box-list {
            display: inline-table;
            table-layout: fixed;
            width: 100%;
            background: #eee
        }
        
        .profile-page .profile-sub-header ul.box-list li {
            border-right: 1px solid #e0e0e0;
            display: table-cell;
            list-style: none
        }
        
        .profile-page .profile-sub-header ul.box-list li:last-child {
            border-right: none
        }
        
        .profile-page .profile-sub-header ul.box-list li a {
            display: block;
            padding: 15px 0;
            color: #424242
        }
    </style>
</main>
{% endblock %}