{% extends 'base.html' %} {% block head %}
<title>Zambeef-Call Usage</title> {% endblock %} {% block body%}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1>Phone Usage</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">Print </button>
            </div>

        </div>
    </div>

     <div class="costCall"></div>

    <h2 class="text-info">Cost Management</h2>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover table-sm" id="fillUp">
            <thead>
                <tr>
                    <th>Account Code</th>
                    <th>Duration Seconds</th>
                    <th>Cost in ZMW</th>
                    <th>From Date</th>
                    <th>To Date</th>

                </tr>
            </thead>
            <tbody>
                {% for x in list %}
                <tr>
                    <td>{{ x.Account_Code }}</td>
                    <td>{{ x.Duration_Seconds }}</td>
                    <td class="bg bg-warning text-white">K {{ x.Cost_ZKW }}</td>
                    <td>{{ x.From_Date }}</td>
                    <td>{{ x.ToDate }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock%}